# Virtual environments
ping_pong_env/
ping_pong_env_system/
pygame_env/
game_env/
test_env/
test_env_new/
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# IDE
.vscode/
.idea/